node_modules
backend/bin
backend/obj
backend/out
backend/publish

backend/*.user
backend/*.suo
backend/*.userosscache
backend/*.sln.docstates

backend/.vscode

backend/.vs

backend/.idea

backend/.DS_Store
backend/Thumbs.db

backend/*.log

backend/appsettings.Development.json
backend/secrets.json

backend/*.publishsettings
